<!DOCTYPE html>
<html>
<head>
	<title>LogIn</title>
</head>
<body>
<p>LogIn</p><hr>
<form action="/log" method="POST">
	<div>
		<label for="email">Email : </label>
		<input type="email" name="email">
	</div>
	<br>
	<div>
		<label for="password">Password : </label>
		<input type="password" name="password">
	</div>
	<br>
	<button type="submit">sign in</button>
</form>
</body>
</html>